/* Importando TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização personalizada */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
  margin: 0;
  padding: 0;
}

/* Fontes */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

/* Botões */
button {
  @apply rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300;
}

button:hover {
  @apply shadow-lg;
}

/* Links */
a {
  @apply text-blue-600 hover:underline;
}

/* Contraste Melhorado */
.text-green-600 {
  color: #047857; /* Verde com maior contraste */
}

/* Formulários */
input,
textarea,
select {
  @apply p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300;
}

/* Headers */
h1,
h2,
h3 {
  @apply font-bold text-gray-800;
}

/* Parágrafos */
p {
  @apply text-gray-600;
}

/* Scrollbar Personalizado */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Cinza Claro */
}

::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Cinza Médio */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Cinza Escuro */
}
